
profiles {

    standard {

        docker {

            enabled                 = true

        }

    }

    docker {

        docker {

            enabled                 = true

        }
    
    }

    podman {

        podman {

            enabled                 = true

        }
    
    }

    singularity {

        singularity {

            enabled                 = true

            autoMounts              = true

        }
    
    }

}

process {

    executor                        = 'slurm'

    clusterOptions                  = '-A ucgd-rw --partition ucgd-rw -N 1'

    queueSize                       = 20

    errorStrategy                   = 'retry'
        
    maxRetries                      = 10

    withLabel: bedtools {

        container                   = 'staphb/bedtools:2.31.1'

    }

    withLabel: local {

        container                   = ''

    }

    withLabel: python {

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/scrnaseq/scrnaseq.sif'

    }

}

params {
    
    // Main resources paths/variables
    samples_manifest_file           = "/path/to/samples/manifest/file"
    
    // Main output directories
    main_output_dir                 = "preprocessed_data"
    consensus_peaks_dir             = "consensus_peaks"

    // Cells aggregation filtering parameters
    min_detected_fragments          = 500
    min_detected_peaks              = 500

}
